.body{
    background-color: #B8CBD9;
    color: #1A2946;
}

.main-header
{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-logo{
    display: flex;
    height: auto;
}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

nav{
    display: flex;
}

nav>a {
    padding: 8px;
    border: 1px solid;
    text-decoration: none;
    color: #1A2946;
}

.p-home{
    width: 800px;
    height: auto;
}

.benner-img{
    border: 1px solid;
    height: 500px;
}


.my-profile-content{
    border: 1px solid;
    height: 500px;
    align-content: center;
    text-align: center;
}
.my-project-content{
    border: 1px solid;
    height: 500px;
    align-content: center;
    text-align: center;
}
.my-contact-content{
    border: 1px solid;
    height: 500px;
    align-content: center;
    text-align: center;
}
footer{
    text-align: center;
}
